@import "tailwindcss";

@theme inline {
  --font-sans: "Inter", sans-serif;
  --font-serif: "P22 Mackinac W01 Book", Georgia, serif;
}

body {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffffff;
  color: #191919;
}
